<section class="container my-lg-5">
  <div class="row">

    <!-- 表單區域開始 -->
    <div class="col-lg-8">
      <router-outlet></router-outlet>
    </div>
    <!-- 表單區域結束 -->

    <!-- 側邊欄位開始 -->
    <div class="col-lg-4 d-none d-lg-block text-primary-light">

      <!-- 訂單摘要開始 -->
      <app-order-info [isMsg]="false"
                      [subTotal]="subTotal"></app-order-info>
      <!-- 訂單摘要結束 -->

      <!-- 購物清單開始 -->
      <div class="card border-primary-lighter">
        <div class="card-header text-center bg-primary-lighter">
          <div class="h3">購物清單</div>
        </div>
        <div class="card-body">
          <app-cart-info *ngFor="let item of cartList"
                         [item]="item"></app-cart-info>
        </div>
      </div>
      <!-- 購物清單結束 -->

    </div>
    <!-- 側邊欄位結束 -->

  </div>
</section>
