<section class="container">
  <div class="row">
    <!-- 左側購物清單開始 -->
    <div class="col-md-8">
      <h1 class="h4 text-center bg-primary-lighter p-3">您的購物車</h1>

      <app-cart-detail *ngFor="let detail of cartDetails"
                       [detail]="detail"
                       (amountChange)="handleAmount($event,detail)"></app-cart-detail>
    </div>
    <!-- 左側購物清單結束 -->

    <!-- 右側訂單摘要開始 -->
    <div class="col-md-4">
      <app-order-info [subTotal]="subTotal"></app-order-info>
      <a [routerLink]="['..', path.checkout]"
         class="btn btn-lg btn-block"
         style="background-color: #FFE180;
           border-color: #FFE180;">結帳</a>
    </div>
    <!-- 右側訂單摘要結束 -->
  </div>
</section>
