<div class="card">
  <div class="card-img-top"
       style="height: 315px; background-image: url(https://images.unsplash.com/photo-1534073737927-85f1ebff1f5d?ixlib=rb-0.3.5&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;s=1204e5551548223af82981f0025984ef&amp;auto=format&amp;fit=crop&amp;w=634&amp;q=80);">
    <div class="item-tag">
      <strong>{{ typeList[item.type] }}</strong>
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{item.name}}</h5>
    <p class="card-text"><strong class="d-flex justify-content-end">{{item.price | currency:'TWD'}}</strong></p>
  </div>
  <button (click)="addToCart(item)"
          class="h4 mb-0 btn-primary-lighter card-footer d-flex justify-content-center">
    加入購物車
  </button>
</div>
